<a href="https://colab.research.google.com/github/raj-coding1/EdaAnalysis/blob/main/EDA_imdb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
movies = pd.read_csv('/content/imdb_top_1000.csv')
movies.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [ ]:
movies.drop('Poster_Link',axis = 1, inplace = True)
movies.head()

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [ ]:
genre = movies.groupby('Genre')

In [ ]:
genre.sum()

,Series_Title,Released_Year,Certificate,Runtime,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Genre,,,,,,,,,,,,,,
"Action, Adventure",The Dark Knight RisesRaiders of the Lost ArkBa...,20121981200519891982,UAAUAUA,164 min115 min140 min127 min93 min,40.9,Eight years after the Joker's reign of anarchy...,359.0,Christopher NolanSteven SpielbergChristopher N...,Christian BaleHarrison FordChristian BaleHarri...,Tom HardyKaren AllenMichael CaineSean ConneryB...,Anne HathawayPaul FreemanKen WatanabeAlison Do...,Gary OldmanJohn Rhys-DaviesLiam NeesonDenholm ...,4627667,"448,139,099248,159,971206,852,432197,171,80647..."
"Action, Adventure, Biography","Aguirre, der Zorn Gottes",1972,0,95 min,7.9,"In the 16th century, the ruthless and insane D...",0.0,Werner Herzog,Klaus Kinski,Ruy Guerra,Helena Rojo,Del Negro,52397,0
"Action, Adventure, Comedy",SholayThe GeneralBajrangi BhaijaanGuardians of...,1975192620152014201620171980201820142017,UPassedUAUARUAURAUA,204 min67 min163 min121 min108 min130 min133 m...,79.1,After his family is murdered by a notorious an...,468.0,Ramesh SippyClyde BruckmanKabir KhanJames Gunn...,Sanjeev KumarBuster KeatonSalman KhanChris Pra...,DharmendraBuster KeatonHarshaali MalhotraVin D...,Amitabh BachchanMarion MackNawazuddin Siddiqui...,Amjad KhanGlen CavenderKareena KapoorZoe Salda...,4560766,"1,033,8958,178,001333,176,600363,070,709315,05..."
"Action, Adventure, Crime",Celda 211,2009,0,113 min,7.6,The story of two men on different sides of a p...,0.0,Daniel Monzón,Luis Tosar,Alberto Ammann,Antonio Resines,Manuel Morón,63882,0
"Action, Adventure, Drama",The Lord of the Rings: The Return of the KingT...,2003200120021954200020192015200620062002194819...,UUUAUUAUAAUAAPG-13PassedUAUA,201 min178 min179 min207 min155 min181 min156 ...,114.1,Gandalf and Aragorn lead the World of Men agai...,1046.0,Peter JacksonPeter JacksonPeter JacksonAkira K...,Elijah WoodElijah WoodElijah WoodToshirô Mifun...,Viggo MortensenIan McKellenIan McKellenTakashi...,Ian McKellenOrlando BloomViggo MortensenKeiko ...,Orlando BloomSean BeanOrlando BloomYukiko Shim...,9295859,"377,845,905315,544,750342,551,365269,061187,70..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Mystery, Romance, Thriller",Vertigo,1958,A,128 min,8.3,A former police detective juggles wrestling wi...,100.0,Alfred Hitchcock,James Stewart,Kim Novak,Barbara Bel Geddes,Tom Helmore,364368,"3,200,000"
"Mystery, Sci-Fi, Thriller",Twelve MonkeysDark City,19951998,AA,129 min100 min,15.6,"In a future world devastated by disease, a con...",140.0,Terry GilliamAlex Proyas,Bruce WillisRufus Sewell,Madeleine StoweKiefer Sutherland,Brad PittJennifer Connelly,Joseph MelitoWilliam Hurt,766370,"57,141,45914,378,331"
"Mystery, Thriller",MementoRear WindowShutter IslandKahaaniSleuthT...,200019542010201219721938198820121997,UAUAUAPGA,113 min112 min138 min122 min138 min96 min107 m...,71.8,A man with short-term memory loss attempts to ...,393.0,Christopher NolanAlfred HitchcockMartin Scorse...,Guy PearceJames StewartLeonardo DiCaprioVidya ...,Carrie-Anne MossGrace KellyEmily MortimerParam...,Joe PantolianoWendell CoreyMark RuffaloIndrane...,Mark Boone JuniorThelma RitterBen KingsleyNawa...,3072266,"25,544,86736,764,313128,012,9341,035,9534,081,..."
Thriller,Wait Until Dark,1967,0,108 min,7.8,A recently blinded woman is terrorized by a tr...,81.0,Terence Young,Audrey Hepburn,Alan Arkin,Richard Crenna,Efrem Zimbalist Jr.,27733,"17,550,741"
Western,"Il buono, il brutto, il cattivoOnce Upon a Tim...",1966196819651976,AUUA,161 min165 min132 min135 min,33.4,A bounty hunting scam joins two men in an unea...,313.0,Sergio LeoneSergio LeoneSergio LeoneClint East...,Clint EastwoodHenry FondaClint EastwoodClint E...,Eli WallachCharles BronsonLee Van CleefSondra ...,Lee Van CleefClaudia CardinaleGian Maria Volon...,Aldo GiuffrèJason RobardsMara KruppBill McKinney,1289665,"6,100,0005,321,50815,000,00031,800,000"

In [ ]:
movies.columns

Index(['Series_Title', 'Released_Year', 'Certificate', 'Runtime', 'Genre',
       'IMDB_Rating', 'Overview', 'Meta_score', 'Director', 'Star1', 'Star2',
       'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [ ]:
movies['Gross']

0       28,341,469
1      134,966,411
2      534,858,444
3       57,300,000
4        4,360,000
          ...
995            NaN
996            NaN
997     30,500,000
998            NaN
999            NaN
Name: Gross, Length: 1000, dtype: object

In [ ]:
genre.sum()['No_of_Votes'].max()

17720455

In [ ]:
genre.sum()['Gross'].dtypes

dtype('O')

In [ ]:
movies.dtypes

Series_Title      object
Released_Year     object
Certificate       object
Runtime           object
Genre             object
IMDB_Rating      float64
Overview          object
Meta_score       float64
Director          object
Star1             object
Star2             object
Star3             object
Star4             object
No_of_Votes        int64
Gross             object
dtype: object

In [ ]:
movies['Gross'] = movies['Gross'].str.replace(',','').astype(int)

In [ ]:
movies['Gross'].fillna(method='ffill',inplace = True)

<ipython-input-34-2845258e1065>:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  movies['Gross'].fillna(method='ffill',inplace = True)

In [ ]:
movies['Gross'].dtypes

dtype('int64')

In [ ]:
genre = movies.groupby('Genre')

In [ ]:
genre.sum()['Gross'].sort_values(ascending = False).head(3)

Genre
Action, Adventure, Sci-Fi       5898659459
Animation, Adventure, Comedy    4603889399
Action, Adventure, Drama        2714237246
Name: Gross, dtype: int64

In [ ]:
movies.columns

Index(['Series_Title', 'Released_Year', 'Certificate', 'Runtime', 'Genre',
       'IMDB_Rating', 'Overview', 'Meta_score', 'Director', 'Star1', 'Star2',
       'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [ ]:
movies.groupby('Genre')['IMDB_Rating'].mean().sort_values(ascending = False)

Genre
Animation, Drama, War         8.50
Action, Sci-Fi                8.40
Drama, Musical                8.40
Drama, Mystery, War           8.35
Western                       8.35
                              ...
Action, Adventure, Mystery    7.60
Action, Adventure, Family     7.60
Action, Adventure, Crime      7.60
Animation, Drama, Romance     7.60
Drama, War, Western           7.60
Name: IMDB_Rating, Length: 202, dtype: float64

In [ ]:
movies.columns

Index(['Series_Title', 'Released_Year', 'Certificate', 'Runtime', 'Genre',
       'IMDB_Rating', 'Overview', 'Meta_score', 'Director', 'Star1', 'Star2',
       'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [ ]:
movies['Director']

0            Frank Darabont
1      Francis Ford Coppola
2         Christopher Nolan
3      Francis Ford Coppola
4              Sidney Lumet
               ...
995           Blake Edwards
996          George Stevens
997          Fred Zinnemann
998        Alfred Hitchcock
999        Alfred Hitchcock
Name: Director, Length: 1000, dtype: object

In [ ]:
movies['No_of_Votes']

0      2343110
1      1620367
2      2303232
3      1129952
4       689845
        ...
995     166544
996      34075
997      43374
998      26471
999      51853
Name: No_of_Votes, Length: 1000, dtype: int64

In [ ]:
print('Hello World')

Hello World

In [12]:
#find the director who is most popular:
# Here to find the most popular director we need to take help of no of votes columns
#whoever the most voted will be the most popular

In [17]:
# $to do that we need to
#we need to groupby with all the director and sum the no of votes for each director and sort it in ascending value
movies.columns

Index(['Series_Title', 'Released_Year', 'Certificate', 'Runtime', 'Genre',
       'IMDB_Rating', 'Overview', 'Meta_score', 'Director', 'Star1', 'Star2',
       'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [21]:
movies.groupby('Director')['No_of_Votes'].sum().sort_values(ascending = False).head(3)

Director
Christopher Nolan    11578345
Quentin Tarantino     8123208
Steven Spielberg      7817166
Name: No_of_Votes, dtype: int64

In [22]:
movies.columns

Index(['Series_Title', 'Released_Year', 'Certificate', 'Runtime', 'Genre',
       'IMDB_Rating', 'Overview', 'Meta_score', 'Director', 'Star1', 'Star2',
       'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [23]:
movies.head(2)

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"

In [25]:
movies.groupby('Genre')[['Series_Title','IMDB_Rating']].max()

                                          Series_Title  IMDB_Rating
Genre
Action, Adventure                The Dark Knight Rises          8.4
Action, Adventure, Biography  Aguirre, der Zorn Gottes          7.9
Action, Adventure, Comedy               Thor: Ragnarok          8.2
Action, Adventure, Crime                     Celda 211          7.6
Action, Adventure, Drama                  The Revenant          8.9
...                                                ...          ...
Mystery, Romance, Thriller                     Vertigo          8.3
Mystery, Sci-Fi, Thriller               Twelve Monkeys          8.0
Mystery, Thriller                    The Lady Vanishes          8.4
Thriller                               Wait Until Dark          7.8
Western                         The Outlaw Josey Wales          8.8

[202 rows x 2 columns]

In [26]:
movies.groupby('Genre')['IMDB_Rating'].max()

Genre
Action, Adventure               8.4
Action, Adventure, Biography    7.9
Action, Adventure, Comedy       8.2
Action, Adventure, Crime        7.6
Action, Adventure, Drama        8.9
                               ...
Mystery, Romance, Thriller      8.3
Mystery, Sci-Fi, Thriller       8.0
Mystery, Thriller               8.4
Thriller                        7.8
Western                         8.8
Name: IMDB_Rating, Length: 202, dtype: float64

In [27]:
movies.head(2)

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"

In [33]:
movies.groupby('Star1')['Series_Title'].count().sort_values(ascending=False)

Star1
Tom Hanks            12
Robert De Niro       11
Clint Eastwood       10
Al Pacino            10
Leonardo DiCaprio     9
                     ..
Gérard Jugnot         1
Günes Sensoy          1
Haluk Bilginer        1
Harriet Andersson     1
Graham Chapman        1
Name: Series_Title, Length: 660, dtype: int64

In [34]:
movies['Genre'].nunique()

202

In [35]:
len(movies.groupby('Genre'))

202

In [36]:
movies.groupby('Genre').size()

Genre
Action, Adventure                5
Action, Adventure, Biography     1
Action, Adventure, Comedy       10
Action, Adventure, Crime         1
Action, Adventure, Drama        14
                                ..
Mystery, Romance, Thriller       1
Mystery, Sci-Fi, Thriller        2
Mystery, Thriller                9
Thriller                         1
Western                          4
Length: 202, dtype: int64

In [37]:
genre = movies.groupby('Genre')

In [38]:
genre.first()

,Series_Title,Released_Year,Certificate,Runtime,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Genre,,,,,,,,,,,,,,
"Action, Adventure",The Dark Knight Rises,2012,UA,164 min,8.4,Eight years after the Joker's reign of anarchy...,78.0,Christopher Nolan,Christian Bale,Tom Hardy,Anne Hathaway,Gary Oldman,1516346,"448,139,099"
"Action, Adventure, Biography","Aguirre, der Zorn Gottes",1972,None,95 min,7.9,"In the 16th century, the ruthless and insane D...",NaN,Werner Herzog,Klaus Kinski,Ruy Guerra,Helena Rojo,Del Negro,52397,None
"Action, Adventure, Comedy",Sholay,1975,U,204 min,8.2,After his family is murdered by a notorious an...,76.0,Ramesh Sippy,Sanjeev Kumar,Dharmendra,Amitabh Bachchan,Amjad Khan,51284,"1,033,895"
"Action, Adventure, Crime",Celda 211,2009,None,113 min,7.6,The story of two men on different sides of a p...,NaN,Daniel Monzón,Luis Tosar,Alberto Ammann,Antonio Resines,Manuel Morón,63882,None
"Action, Adventure, Drama",The Lord of the Rings: The Return of the King,2003,U,201 min,8.9,Gandalf and Aragorn lead the World of Men agai...,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1642758,"377,845,905"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Mystery, Romance, Thriller",Vertigo,1958,A,128 min,8.3,A former police detective juggles wrestling wi...,100.0,Alfred Hitchcock,James Stewart,Kim Novak,Barbara Bel Geddes,Tom Helmore,364368,"3,200,000"
"Mystery, Sci-Fi, Thriller",Twelve Monkeys,1995,A,129 min,8.0,"In a future world devastated by disease, a con...",74.0,Terry Gilliam,Bruce Willis,Madeleine Stowe,Brad Pitt,Joseph Melito,578443,"57,141,459"
"Mystery, Thriller",Memento,2000,UA,113 min,8.4,A man with short-term memory loss attempts to ...,80.0,Christopher Nolan,Guy Pearce,Carrie-Anne Moss,Joe Pantoliano,Mark Boone Junior,1125712,"25,544,867"
Thriller,Wait Until Dark,1967,None,108 min,7.8,A recently blinded woman is terrorized by a tr...,81.0,Terence Young,Audrey Hepburn,Alan Arkin,Richard Crenna,Efrem Zimbalist Jr.,27733,"17,550,741"
Western,"Il buono, il brutto, il cattivo",1966,A,161 min,8.8,A bounty hunting scam joins two men in an unea...,90.0,Sergio Leone,Clint Eastwood,Eli Wallach,Lee Van Cleef,Aldo Giuffrè,688390,"6,100,000"

In [40]:
genre.nth(6).head(1)

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
88,Jagten,2012,R,115 min,Drama,8.3,"A teacher lives a lonely life, all the while s...",77.0,Thomas Vinterberg,Mads Mikkelsen,Thomas Bo Larsen,Annika Wedderkopp,Lasse Fogelstrøm,281623,"687,185"

In [42]:
genre.get_group('Horror')

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
419,The Exorcist,1973,A,122 min,Horror,8.0,When a 12-year-old girl is possessed by a myst...,81.0,William Friedkin,Ellen Burstyn,Max von Sydow,Linda Blair,Lee J. Cobb,362393,"232,906,145"
707,The Innocents,1961,A,100 min,Horror,7.8,A young governess for two children becomes con...,88.0,Jack Clayton,Deborah Kerr,Peter Wyngarde,Megs Jenkins,Michael Redgrave,27007,"2,616,000"

In [43]:
genre.groups

{'Action, Adventure': [63, 72, 155, 168, 840], 'Action, Adventure, Biography': [540], 'Action, Adventure, Comedy': [177, 320, 325, 339, 348, 473, 532, 722, 730, 887], 'Action, Adventure, Crime': [909], 'Action, Adventure, Drama': [5, 10, 13, 31, 39, 59, 343, 496, 625, 642, 709, 821, 898, 944], 'Action, Adventure, Family': [927], 'Action, Adventure, Fantasy': [16, 29, 109, 376, 623, 645], 'Action, Adventure, History': [507], 'Action, Adventure, Horror': [535], 'Action, Adventure, Mystery': [914], 'Action, Adventure, Romance': [564], 'Action, Adventure, Sci-Fi': [8, 60, 106, 223, 262, 357, 477, 479, 482, 493, 502, 582, 583, 634, 677, 737, 746, 749, 807, 839, 982], 'Action, Adventure, Thriller': [368, 725, 751, 861, 963], 'Action, Adventure, War': [854, 856], 'Action, Adventure, Western': [543, 865], 'Action, Biography, Crime': [142, 702, 985], 'Action, Biography, Drama': [57, 216, 217, 351, 659, 889, 924], 'Action, Comedy, Crime': [140, 160, 161, 294, 569, 908], 'Action, Comedy, Fantasy': [678, 685, 776], 'Action, Comedy, Mystery': [627], 'Action, Comedy, Romance': [166, 194], 'Action, Crime, Comedy': [390], 'Action, Crime, Drama': [2, 42, 55, 201, 224, 241, 308, 345, 356, 375, 577, 602, 605, 663, 674, 696, 710, 718, 768, 774, 782, 850, 852, 888, 893, 896, 901, 918, 931, 968], 'Action, Crime, Mystery': [951], 'Action, Crime, Thriller': [326, 337, 369, 608, 648, 666, 847, 853, 979, 983], 'Action, Drama': [130, 134, 331, 784, 928], 'Action, Drama, History': [573, 705, 832], 'Action, Drama, Mystery': [30, 68, 340, 655, 930], 'Action, Drama, Sci-Fi': [152, 202], 'Action, Drama, Sport': [144], 'Action, Drama, Thriller': [181, 353, 570, 641], 'Action, Drama, War': [129, 172, 236], 'Action, Drama, Western': [431, 436], 'Action, Mystery, Thriller': [362, 511, 777], 'Action, Sci-Fi': [14, 44, 410], 'Action, Sci-Fi, Thriller': [275, 488], 'Action, Thriller': [171, 615, 900], 'Adventure, Biography, Crime': [604], 'Adventure, Biography, Drama': [116, 231, 323, 549, 638, 686], 'Adventure, Comedy, Crime': [209, 797], 'Adventure, Comedy, Drama': [137, 193, 470, 514, 739, 798, 884, 957], 'Adventure, Comedy, Family': [576, 681, 984], 'Adventure, Comedy, Fantasy': [178, 912], 'Adventure, Comedy, Film-Noir': [711], 'Adventure, Comedy, Sci-Fi': [47, 366, 675], 'Adventure, Comedy, War': [991], 'Adventure, Drama': [267, 273, 301, 552], 'Adventure, Drama, Fantasy': [226, 377, 497, 498, 537, 964], 'Adventure, Drama, History': [179, 281, 300, 966], 'Adventure, Drama, Musical': [247], 'Adventure, Drama, Romance': [647, 873], 'Adventure, Drama, Sci-Fi': [21, 329, 513], 'Adventure, Drama, Thriller': [110, 306, 361, 851], 'Adventure, Drama, War': [93, 304], 'Adventure, Drama, Western': [191, 402, 553, 713], 'Adventure, Family, Fantasy': [406, 458, 506, 755, 781, 919, 947], 'Adventure, Fantasy': [609, 618], 'Adventure, History, War': [692], 'Adventure, Horror, Sci-Fi': [566], 'Adventure, Mystery, Thriller': [118], 'Adventure, Sci-Fi': [114, 426], 'Adventure, Thriller': [415], 'Animation, Action, Adventure': [58, 70, 230, 378, 389, 522, 578, 592, 599, 744, 891], 'Animation, Action, Crime': [394, 510, 665], 'Animation, Action, Drama': [246], 'Animation, Action, Fantasy': [796], 'Animation, Action, Sci-Fi': [405], 'Animation, Adventure, Comedy': [101, 135, 146, 151, 205, 213, 242, 245, 330, 367, 399, 469, 499, 516, 596, 633, 651, 740, 756, 761, 771, 822, 828, 892], 'Animation, Adventure, Drama': [43, 219, 332, 409, 672, 741, 986], 'Animation, Adventure, Family': [23, 61, 66, 158, 843, 902, 920, 956, 992], 'Animation, Adventure, Fantasy': [270], 'Animation, Biography, Crime': [586], 'Animation, Biography, Drama': [358, 595], 'Animation, Comedy, Crime': [906], 'Animation, Comedy, Drama': [229, 640], 'Animation, Comedy, Fantasy': [799], 'Animation, Crime, Mystery': [386], 'Animation, Drama, Family': [197, 518, 728, 783], 'Animation, Drama, Fantasy': [56, 211, 643, 758], 'Animation, Drama, Romance': [971], 'Animation, Drama, War': [46], 'Animation, Family, Fantasy': [170, 395, 401, 875, 976], 'Animation, Sci-Fi': [694], 'Biography, Comedy, Drama': [35, 131, 587, 600, 657, 815, 897], 'Biography, Crime, Drama': [15, 147, 218, 243, 263, 416, 418, 424, 484, 622, 759, 809, 849, 882, 949, 987], 'Biography, Drama': [159, 276, 282, 328, 359, 360, 365, 372, 385, 525, 671, 748], 'Biography, Drama, Family': [228, 429, 650, 940], 'Biography, Drama, History': [7, 18, 54, 102, 107, 157, 176, 212, 215, 235, 290, 298, 317, 346, 373, 411, 536, 545, 575, 606, 673, 684, 757, 766, 820, 831, 858, 877], 'Biography, Drama, Music': [38, 342, 635, 770, 779, 810, 923], 'Biography, Drama, Romance': [729], 'Biography, Drama, Sport': [139, 173, 579, 614, 632, 644, 910, 915, 952], 'Biography, Drama, Thriller': [338, 649, 753], 'Biography, Drama, War': [542], 'Comedy': [78, 277, 417, 539, 679, 750, 800, 808, 816, 837, 842, 855, 969], 'Comedy, Crime': [96, 449, 869, 970, 972, 977], 'Comedy, Crime, Drama': [112, 132, 153, 169, 261, 284, 463, 494, 630, 680, 687, 814, 836, 953, 989], 'Comedy, Crime, Mystery': [460], 'Comedy, Crime, Romance': [251], 'Comedy, Crime, Sport': [252], 'Comedy, Crime, Thriller': [455], ...}

In [44]:
genre.describe()

                             IMDB_Rating                                  \
                                   count      mean       std  min    25%
Genre
Action, Adventure                    5.0  8.180000  0.286356  7.7  8.200
Action, Adventure, Biography         1.0  7.900000       NaN  7.9  7.900
Action, Adventure, Comedy           10.0  7.910000  0.191195  7.6  7.750
Action, Adventure, Crime             1.0  7.600000       NaN  7.6  7.600
Action, Adventure, Drama            14.0  8.150000  0.475152  7.6  7.800
...                                  ...       ...       ...  ...    ...
Mystery, Romance, Thriller           1.0  8.300000       NaN  8.3  8.300
Mystery, Sci-Fi, Thriller            2.0  7.800000  0.282843  7.6  7.700
Mystery, Thriller                    9.0  7.977778  0.319287  7.6  7.700
Thriller                             1.0  7.800000       NaN  7.8  7.800
Western                              4.0  8.350000  0.420317  7.8  8.175

                                               Meta_score              ...  \
                               50%    75%  max      count        mean  ...
Genre                                                                  ...
Action, Adventure             8.20  8.400  8.4        5.0   71.800000  ...
Action, Adventure, Biography  7.90  7.900  7.9        0.0         NaN  ...
Action, Adventure, Comedy     7.95  8.000  8.2        7.0   66.857143  ...
Action, Adventure, Crime      7.60  7.600  7.6        0.0         NaN  ...
Action, Adventure, Drama      7.95  8.575  8.9       13.0   80.461538  ...
...                            ...    ...  ...        ...         ...  ...
Mystery, Romance, Thriller    8.30  8.300  8.3        1.0  100.000000  ...
Mystery, Sci-Fi, Thriller     7.80  7.900  8.0        2.0   70.000000  ...
Mystery, Thriller             8.00  8.200  8.4        5.0   78.600000  ...
Thriller                      7.80  7.800  7.8        1.0   81.000000  ...
Western                       8.40  8.575  8.8        4.0   78.250000  ...

                                           No_of_Votes                 \
                                75%    max       count           mean
Genre
Action, Adventure              78.0   85.0         5.0  925533.400000
Action, Adventure, Biography    NaN    NaN         1.0   52397.000000
Action, Adventure, Comedy      70.5   76.0        10.0  456076.600000
Action, Adventure, Crime        NaN    NaN         1.0   63882.000000
Action, Adventure, Drama       89.0   98.0        14.0  663989.928571
...                             ...    ...         ...            ...
Mystery, Romance, Thriller    100.0  100.0         1.0  364368.000000
Mystery, Sci-Fi, Thriller      72.0   74.0         2.0  383185.000000
Mystery, Thriller              98.0  100.0         9.0  341362.888889
Thriller                       81.0   81.0         1.0   27733.000000
Western                        82.5   90.0         4.0  322416.250000

                                                                            \
                                        std       min        25%       50%
Genre
Action, Adventure             509961.879341  226541.0  692366.00  884112.0
Action, Adventure, Biography            NaN   52397.0   52397.00   52397.0
Action, Adventure, Comedy     352696.927553   51284.0  106662.50  524280.0
Action, Adventure, Crime                NaN   63882.0   63882.00   63882.0
Action, Adventure, Drama      613518.308911   28167.0  157781.00  363671.5
...                                     ...       ...        ...       ...
Mystery, Romance, Thriller              NaN  364368.0  364368.00  364368.0
Mystery, Sci-Fi, Thriller     276136.511762  187927.0  285556.00  383185.0
Mystery, Thriller             463893.426814   33982.0   47400.00   57806.0
Thriller                                NaN   27733.0   27733.00   27733.0
Western                       263489.554280   65659.0  190993.75  267808.0


                                     75%        max
Genre
Action, Adventure             1308302.00  1516346.0
Action, Adventure, Biography    52397.00    52397.0
Action, Adventure, Comedy      589773.75  1043455.0
Action, Adventure, Crime        63882.00    63882.0
Action, Adventure, Drama      1208583.75  1661481.0
...                                  ...        ...
Mystery, Romance, Thriller     364368.00   364368.0
Mystery, Sci-Fi, Thriller      480814.00   578443.0
Mystery, Thriller              444074.00  1129894.0
Thriller                        27733.00    27733.0
Western                        399230.50   688390.0

[202 rows x 24 columns]

In [46]:
genre.sample()         #give a random movie in every genre

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
63,The Dark Knight Rises,2012,UA,164 min,"Action, Adventure",8.4,Eight years after the Joker's reign of anarchy...,78.0,Christopher Nolan,Christian Bale,Tom Hardy,Anne Hathaway,Gary Oldman,1516346,"448,139,099"
540,"Aguirre, der Zorn Gottes",1972,NaN,95 min,"Action, Adventure, Biography",7.9,"In the 16th century, the ruthless and insane D...",NaN,Werner Herzog,Klaus Kinski,Ruy Guerra,Helena Rojo,Del Negro,52397,NaN
722,Deadpool 2,2018,R,119 min,"Action, Adventure, Comedy",7.7,Foul-mouthed mutant mercenary Wade Wilson (a.k...,66.0,David Leitch,Ryan Reynolds,Josh Brolin,Morena Baccarin,Julian Dennison,478586,"324,591,735"
909,Celda 211,2009,NaN,113 min,"Action, Adventure, Crime",7.6,The story of two men on different sides of a p...,NaN,Daniel Monzón,Luis Tosar,Alberto Ammann,Antonio Resines,Manuel Morón,63882,NaN
642,The Count of Monte Cristo,2002,PG-13,131 min,"Action, Adventure, Drama",7.8,"A young man, falsely imprisoned by his jealous...",61.0,Kevin Reynolds,Jim Caviezel,Guy Pearce,Christopher Adamson,JB Blanc,129022,"54,234,062"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,Vertigo,1958,A,128 min,"Mystery, Romance, Thriller",8.3,A former police detective juggles wrestling wi...,100.0,Alfred Hitchcock,James Stewart,Kim Novak,Barbara Bel Geddes,Tom Helmore,364368,"3,200,000"
393,Twelve Monkeys,1995,A,129 min,"Mystery, Sci-Fi, Thriller",8.0,"In a future world devastated by disease, a con...",74.0,Terry Gilliam,Bruce Willis,Madeleine Stowe,Brad Pitt,Joseph Melito,578443,"57,141,459"
829,Spoorloos,1988,NaN,107 min,"Mystery, Thriller",7.7,"Rex and Saskia, a young couple in love, are on...",NaN,George Sluizer,Bernard-Pierre Donnadieu,Gene Bervoets,Johanna ter Steege,Gwen Eckhaus,33982,NaN
700,Wait Until Dark,1967,NaN,108 min,Thriller,7.8,A recently blinded woman is terrorized by a tr...,81.0,Terence Young,Audrey Hepburn,Alan Arkin,Richard Crenna,Efrem Zimbalist Jr.,27733,"17,550,741"
115,Per qualche dollaro in più,1965,U,132 min,Western,8.3,Two bounty hunters with the same intentions te...,74.0,Sergio Leone,Clint Eastwood,Lee Van Cleef,Gian Maria Volontè,Mara Krupp,232772,"15,000,000"

In [47]:
genre.nunique()

,Series_Title,Released_Year,Certificate,Runtime,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Genre,,,,,,,,,,,,,,
"Action, Adventure",5,5,3,5,3,5,5,3,3,5,5,5,5,5
"Action, Adventure, Biography",1,1,0,1,1,1,0,1,1,1,1,1,1,0
"Action, Adventure, Comedy",10,8,5,10,6,10,6,9,8,10,10,10,10,9
"Action, Adventure, Crime",1,1,0,1,1,1,0,1,1,1,1,1,1,0
"Action, Adventure, Drama",14,11,5,14,11,14,12,12,12,13,14,13,14,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Mystery, Romance, Thriller",1,1,1,1,1,1,1,1,1,1,1,1,1,1
"Mystery, Sci-Fi, Thriller",2,2,1,2,2,2,2,2,2,2,2,2,2,2
"Mystery, Thriller",9,8,4,7,7,9,5,8,9,9,9,9,9,6
Thriller,1,1,0,1,1,1,1,1,1,1,1,1,1,1
Western,4,4,2,4,4,4,4,2,2,4,4,4,4,4

In [48]:
genre = movies.groupby('Genre')

In [49]:
# genre.agg(['min','max','mean'])

TypeError: agg function failed [how->mean,dtype->object]

In [51]:
genre.agg(
    {
        'IMDB_Rating':['mean','max'],
        'No_of_Votes':['sum','mean']
    }
)

                             IMDB_Rating      No_of_Votes
                                    mean  max         sum           mean
Genre
Action, Adventure               8.180000  8.4     4627667  925533.400000
Action, Adventure, Biography    7.900000  7.9       52397   52397.000000
Action, Adventure, Comedy       7.910000  8.2     4560766  456076.600000
Action, Adventure, Crime        7.600000  7.6       63882   63882.000000
Action, Adventure, Drama        8.150000  8.9     9295859  663989.928571
...                                  ...  ...         ...            ...
Mystery, Romance, Thriller      8.300000  8.3      364368  364368.000000
Mystery, Sci-Fi, Thriller       7.800000  8.0      766370  383185.000000
Mystery, Thriller               7.977778  8.4     3072266  341362.888889
Thriller                        7.800000  7.8       27733   27733.000000
Western                         8.350000  8.8     1289665  322416.250000

[202 rows x 4 columns]

In [53]:
genre.describe()

                             IMDB_Rating                                  \
                                   count      mean       std  min    25%
Genre
Action, Adventure                    5.0  8.180000  0.286356  7.7  8.200
Action, Adventure, Biography         1.0  7.900000       NaN  7.9  7.900
Action, Adventure, Comedy           10.0  7.910000  0.191195  7.6  7.750
Action, Adventure, Crime             1.0  7.600000       NaN  7.6  7.600
Action, Adventure, Drama            14.0  8.150000  0.475152  7.6  7.800
...                                  ...       ...       ...  ...    ...
Mystery, Romance, Thriller           1.0  8.300000       NaN  8.3  8.300
Mystery, Sci-Fi, Thriller            2.0  7.800000  0.282843  7.6  7.700
Mystery, Thriller                    9.0  7.977778  0.319287  7.6  7.700
Thriller                             1.0  7.800000       NaN  7.8  7.800
Western                              4.0  8.350000  0.420317  7.8  8.175

                                               Meta_score              ...  \
                               50%    75%  max      count        mean  ...
Genre                                                                  ...
Action, Adventure             8.20  8.400  8.4        5.0   71.800000  ...
Action, Adventure, Biography  7.90  7.900  7.9        0.0         NaN  ...
Action, Adventure, Comedy     7.95  8.000  8.2        7.0   66.857143  ...
Action, Adventure, Crime      7.60  7.600  7.6        0.0         NaN  ...
Action, Adventure, Drama      7.95  8.575  8.9       13.0   80.461538  ...
...                            ...    ...  ...        ...         ...  ...
Mystery, Romance, Thriller    8.30  8.300  8.3        1.0  100.000000  ...
Mystery, Sci-Fi, Thriller     7.80  7.900  8.0        2.0   70.000000  ...
Mystery, Thriller             8.00  8.200  8.4        5.0   78.600000  ...
Thriller                      7.80  7.800  7.8        1.0   81.000000  ...
Western                       8.40  8.575  8.8        4.0   78.250000  ...

                                           No_of_Votes                 \
                                75%    max       count           mean
Genre
Action, Adventure              78.0   85.0         5.0  925533.400000
Action, Adventure, Biography    NaN    NaN         1.0   52397.000000
Action, Adventure, Comedy      70.5   76.0        10.0  456076.600000
Action, Adventure, Crime        NaN    NaN         1.0   63882.000000
Action, Adventure, Drama       89.0   98.0        14.0  663989.928571
...                             ...    ...         ...            ...
Mystery, Romance, Thriller    100.0  100.0         1.0  364368.000000
Mystery, Sci-Fi, Thriller      72.0   74.0         2.0  383185.000000
Mystery, Thriller              98.0  100.0         9.0  341362.888889
Thriller                       81.0   81.0         1.0   27733.000000
Western                        82.5   90.0         4.0  322416.250000

                                                                            \
                                        std       min        25%       50%
Genre
Action, Adventure             509961.879341  226541.0  692366.00  884112.0
Action, Adventure, Biography            NaN   52397.0   52397.00   52397.0
Action, Adventure, Comedy     352696.927553   51284.0  106662.50  524280.0
Action, Adventure, Crime                NaN   63882.0   63882.00   63882.0
Action, Adventure, Drama      613518.308911   28167.0  157781.00  363671.5
...                                     ...       ...        ...       ...
Mystery, Romance, Thriller              NaN  364368.0  364368.00  364368.0
Mystery, Sci-Fi, Thriller     276136.511762  187927.0  285556.00  383185.0
Mystery, Thriller             463893.426814   33982.0   47400.00   57806.0
Thriller                                NaN   27733.0   27733.00   27733.0
Western                       263489.554280   65659.0  190993.75  267808.0


                                     75%        max
Genre
Action, Adventure             1308302.00  1516346.0
Action, Adventure, Biography    52397.00    52397.0
Action, Adventure, Comedy      589773.75  1043455.0
Action, Adventure, Crime        63882.00    63882.0
Action, Adventure, Drama      1208583.75  1661481.0
...                                  ...        ...
Mystery, Romance, Thriller     364368.00   364368.0
Mystery, Sci-Fi, Thriller      480814.00   578443.0
Mystery, Thriller              444074.00  1129894.0
Thriller                        27733.00    27733.0
Western                        399230.50   688390.0

[202 rows x 24 columns]

In [57]:
for group,data in genre:
  print(group)
  print(data)
  break

Action, Adventure
                           Series_Title Released_Year Certificate  Runtime  \
63                The Dark Knight Rises          2012          UA  164 min
72              Raiders of the Lost Ark          1981           A  115 min
155                       Batman Begins          2005          UA  140 min
168  Indiana Jones and the Last Crusade          1989           U  127 min
840                         First Blood          1982           A   93 min

                 Genre  IMDB_Rating  \
63   Action, Adventure          8.4
72   Action, Adventure          8.4
155  Action, Adventure          8.2
168  Action, Adventure          8.2
840  Action, Adventure          7.7

                                              Overview  Meta_score  \
63   Eight years after the Joker's reign of anarchy...        78.0
72   In 1936, archaeologist and adventurer Indiana ...        85.0
155  After training with his mentor, Batman begins ...        70.0
168  In 1938, after his father Professor Henry Jone...        65.0
840  A veteran Green Beret is forced by a cruel She...        61.0

              Director               Star1          Star2           Star3  \
63   Christopher Nolan      Christian Bale      Tom Hardy   Anne Hathaway
72    Steven Spielberg       Harrison Ford    Karen Allen    Paul Freeman
155  Christopher Nolan      Christian Bale  Michael Caine    Ken Watanabe
168   Steven Spielberg       Harrison Ford   Sean Connery    Alison Doody
840       Ted Kotcheff  Sylvester Stallone  Brian Dennehy  Richard Crenna

                Star4  No_of_Votes        Gross
63        Gary Oldman      1516346  448,139,099
72   John Rhys-Davies       884112  248,159,971
155       Liam Neeson      1308302  206,852,432
168   Denholm Elliott       692366  197,171,806
840     Bill McKinney       226541   47,212,904

In [56]:
print(type(movies))

<class 'pandas.core.frame.DataFrame'>

In [62]:
#built in function
genre.apply(max)

<ipython-input-62-dbf7abc8017c>:2: FutureWarning: The provided callable <built-in function max> is currently using np.maximum.reduce. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string np.maximum.reduce instead.
  genre.apply(max)

TypeError: '>=' not supported between instances of 'float' and 'str'

In [ ]:
def rank(group):